<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.order.infra.mapper.CustomerMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.order.domain.entity.Customer">
        <result column="customer_id" property="customerId" jdbcType="DECIMAL"/>
        <result column="customer_number" property="customerNumber" jdbcType="VARCHAR"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="findCustomer"  resultType="BaseResultMap">
        select * from hodr_customer
        <if test="customer_number==null and customer_nume==null">
            where 1=2
        </if>
        <if test="customer_number!=null">
      where  customer_number like concat('%',#{customerNumber},'%')
      </if>
      <if test="customer_name!=null">
          and customer_name =#{customerName}
      </if>
    </select>
</mapper>